@font-face {
  font-family: 'AvenirBlack';
  src: url('../fonts/AvenirLTStd-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirBook';
  src: url('../fonts/AvenirLTStd-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirHevy';
  src: url('../fonts/AvenirHeavy.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
