.start-end-dates {
  text-transform: uppercase;
  display: flex;
  .text {
    margin-left: 16px;
  }
}

.selector-fix-width {
  min-width: 240px;
  display: inline-block;
}

.days-selector {
  display: flex;

  .day {
    margin-right: 12px;
    text-align: center;

    .date {
      font-size: 12px;
      color: $disabled;
      margin-bottom: 4px;
    }

    button {
      width: 64px;
      font-size: 15px;
      font-family: $title-font;
    }
  }
}

.marathon-diets {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, minmax(220px, 220px));
  grid-template-rows: auto;
  gap: 18px;

  overflow-x: scroll;
  cursor: ew-resize;

  &::-webkit-scrollbar {
    height: 4px; /* height of horizontal scrollbar ← You're missing this */
    width: 4px; /* width of vertical scrollbar */
    border: 1px solid #d5d5d5;
  }

  .single-diet {
    .recipe-card {
      .food-image {
        background-color: white;
      }

      .recipe-card-cta {
        width: 100%;
      }
    }

    .no-recipe {
      background-color: $background-2;
      padding: 12px;
      border-radius: $border-radius-element;
    }
  }
}
