@import '../../styles/shared.scss';

.menu {
  padding: 0 24px;

  .text {
    color: $white;
  }

  .title {
    color: $primary-color;
  }

  .nav-bar {
    li {
      transition: 0.2s;
      margin-bottom: 24px;

      a {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        color: $disabled;
        text-decoration: none;

        svg {
          margin-right: 16px;
          background-color: $background-2;
          padding: 12px;
          border-radius: $border-radius-element;
          color: inherit;
          font-size: 16px;
        }

        .subtitle {
          margin: 0;
          font-size: 15px;
          color: inherit;
        }

        &:hover {
          color: $secondary-color;
        }
      }

      &.active {
        svg {
          background-color: $primary-color;
          color: $secondary-color;
        }

        .subtitle {
          color: $secondary-color;
        }
      }
    }
  }

  .logout {
    margin-top: 32px;
  }
}
