@import '../../styles/shared.scss';

nav {
  margin-top: 32px;

  .text {
    color: $white;
  }

  .title {
    color: $primary-color;
  }

  .nav-links {
    margin-bottom: 42px;

    li {
      transition: 0.2s;
      margin-bottom: 24px;

      a {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        color: $disabled;
        text-decoration: none;

        .nav-icon {
          margin-right: 16px;
          background-color: $background-2;
          padding: 12px;
          border-radius: $border-radius-element;
          height: 36px;
          width: 36px;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            color: inherit;
            font-size: 16px;
          }

          img {
            filter: opacity(0.3);
            width: 20px;
          }
        }

        .subtitle {
          margin: 0;
          font-size: 15px;
          color: inherit;
        }

        &:hover {
          color: $secondary-color;

          img {
            filter: opacity(1);
          }
        }
      }

      &.active {
        .nav-icon {
          background-color: $primary-color;

          svg {
            background-color: $primary-color;
            color: $secondary-color;
          }

          img {
            filter: opacity(1);
          }
        }

        .subtitle {
          color: $secondary-color;
        }
      }
    }
  }
}
