@import '../../styles/shared.scss';
body {
  background-color: $background-1;
  color: $secondary-color;
  font-family: $text-font;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 24px 0;
}

.app-container {
  .app-wrapper {
    box-sizing: border-box;
    height: 100vh;
    max-width: 100vw;
    width: 98vw;
    display: grid;
    gap: 0px 0px;
    grid-template-columns: 0.7fr 1.9fr 0.4fr;
    grid-template-rows: 0.3fr 2.5fr 0.2fr;
    grid-template-areas:
      'HEADER HEADER HEADER'
      'MAIN MAIN MAIN'
      'FOOTER FOOTER FOOTER';

    @media screen and (min-width: 1024px) {
      grid-template-columns: 0.8fr 1.8fr 0.4fr;
      grid-template-rows: 0.3fr 2.5fr 0.2fr;
      grid-template-areas:
        'HEADER HEADER HEADER'
        'NAV MAIN MAIN'
        'FOOTER FOOTER FOOTER';
    }

    header {
      grid-area: HEADER;
      display: grid;
      gap: 0px 0px;
      grid-template-rows: 1fr;
      grid-template-columns: 0.8fr 1.7fr 0.5fr;
      grid-template-areas: 'LOGO USER BREADCRUMB';
      align-items: baseline;

      @media screen and (min-width: 1024px) {
        grid-template-columns: 0.8fr 1.7fr 0.5fr;
        grid-template-areas: 'LOGO RRSS USER';
      }

      .texted-logo {
        grid-area: LOGO;
      }

      .rrss {
        grid-area: RRSS;
      }

      .user-menu {
        grid-area: USER;
      }

      .breadcrumb {
        grid-area: BREADCRUMB;

        @media screen and (min-width: 1024px) {
          display: none;
        }
      }
    }

    .rrss {
      display: none;

      @media screen and (min-width: 1024px) {
        display: flex;
      }

      .text {
        margin-right: 24px;

        svg {
          margin-right: 8px;
        }
      }
    }

    .user-menu {
      justify-self: flex-end;
    }

    nav {
      grid-area: NAV;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 24px;
    }

    main {
      grid-area: MAIN;
    }

    footer {
      grid-area: FOOTER;
    }
  }
}

@media (min-width: 640px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 1536px) {
}
