.modal {
  position: absolute;
  background-color: rgba($color: $background-1, $alpha: 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  .modal-content {
    width: 80%;
    max-height: 95vh;
    padding: 32px;
    background-color: $background-2;
    border-radius: $border-radius-wrapper;
    position: relative;
    z-index: 3;

    &.scroll {
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .close-icon {
    position: fixed;
    right: 48px;
    top: 32px;

    svg {
      height: 18px;
      width: 18px;
      color: $disabled;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .modal-content {
      width: 50%;
    }
  }
}
