.more-links {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, minmax(140px, 200px));
  grid-template-rows: auto;
  gap: 18px;

  li {
    background-color: $background-3;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-element;

    a {
      text-decoration: none;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .nav-icon {
        margin-bottom: 8px;

        svg {
          height: 42px;
          color: $disabled;
          fill: $disabled;
        }
      }

      .subtitle {
        font-size: 16px;
      }
    }
  }
}
