.button {
  padding: 12px;
  color: $secondary-color;
  background-color: transparent;
  border: none;
  border-radius: $border-radius-element;
  cursor: pointer;
  vertical-align: middle;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow-element;

  &:hover {
    box-shadow: none;
  }

  &.center {
    margin: 0 auto;
  }

  p {
    margin: 0 8px;
    line-height: 16px;
  }

  a {
    color: $secondary-color;
  }

  svg {
    font-size: 16px;
  }

  &.primary {
    background-color: $primary-color;

    &:hover {
      background-color: $primary-color-decolored;
    }
  }

  &.secondary {
    border: thin solid $primary-color;

    &:hover {
      background-color: $primary-color;
    }
  }

  &.active {
    background-color: $primary-color-decolored;

    &:hover {
      background-color: $primary-color;
    }
  }

  &:disabled {
    background-color: transparent;
    cursor: default;
    color: $grey-decolored;

    p {
      color: inherit;
    }

    &:hover {
      background-color: transparent;
    }
  }

  &.only-icon {
    svg {
      font-size: 22px;
      padding: 0;
      margin: 0;
    }
  }

  &.small {
    padding: 8px;
  }
}

button.link,
.link {
  color: $secondary-color;
  text-decoration: underline;
  transition: 0.2s;

  .text {
    font-size: 12px;
  }

  &:hover {
    color: $primary-color;

    p,
    svg {
      color: $primary-color;
    }
  }
}
