@import '../../styles/shared.scss';

p,
h1,
h2,
h3 {
  margin: 0;
  transition: 0.3s;
}

.title,
.subtitle,
h3 {
  font-family: $title-font;
  font-size: 24px;
  font-weight: 700;
  color: $primary-color;
  letter-spacing: 1px;

  &.center {
    text-align: center;
  }
}

.subtitle {
  font-size: 16px;

  span {
    font-size: 16px;
  }
}

.section-title {
  width: 100%;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    font-size: 16px;
    color: $secondary-color;
    font-weight: 700;
  }

  &__line {
    height: 1px;
    width: 100%;
    background-color: $secondary-color-decolored;
  }

  button {
    padding: 0;
    margin-left: 12px;

    svg {
      color: $secondary-color;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.text {
  font-family: $text-font;
  font-size: 14px;
  color: $secondary-color;

  &.bold {
    font-weight: 700;
  }

  &.uppercase {
    text-transform: uppercase;
    font-family: $title-font;
    letter-spacing: 1px;
  }

  &.decolored {
    color: $secondary-color-decolored;
  }

  &.danger {
    color: $danger;
    font-size: 12px;
  }

  &.small {
    font-size: 12px;
  }

  &.align-right {
    text-align: right;
  }

  &.center {
    text-align: center;
  }
}
